body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f9;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

input, textarea, select {
  width: 100%;
  margin: 8px 0;
}
